$('#new_task').remove();
$('#new_link').show();
$('#songs').append("<li>"+ "Name: <%=@song.name %>" + ", Duration(minutes): <%=@song.duration %>" + ", Price(dollars): <%=@song.price %>" + "</li>");
$('#new_song').hide();